matplotlib==3.3.4
matplotlib-base==3.3.4
mccabe==0.6.1
mmcv-full==1.7.0
mmsegmentation==0.30.0
mmdet==2.11.0
mmpycocotools==12.0.3
numpy==1.20.1
onnx==1.11.0
opencv-contrib-python-headless==4.5.4.58
opencv-python==4.5.4.58
opencv-python-headless==4.5.4.58
pillow==8.2.0
prettytable==3.6.0
protobuf==3.17.2
pytorch==1.9.0
pyyaml==5.4.1
scikit-image==0.18.1
scikit-learn==0.24.1
scipy==1.6.2
six==1.15.0
tensorboard==2.4.0
tensorflow==2.4.1
terminaltables==3.1.10
threadpoolctl==2.1.0
tifffile==2020.10.1
timm==0.7.0.dev0
torch==1.8.1
torchaudio==0.9.0
torchvision==0.9.1
tqdm==4.59.0
einops==0.3.2
kornia==0.6.1